.layout {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 1280px) {
  .layout {
    max-height: 80dvh;
  }
}
