.wrapper {
  display: flex;
  flex-grow: 1;
  gap: 60px;
}

.navigation {
  max-width: 320px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  height: 64px;
}
