.header {
  margin: 0 auto;
  width: 100vw;
  background-color: var(--background);
}

.flex {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.activeLink {
  color: var(--text-primary-color);
}
